[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
mkdocs = "*"
dataclasses = "*"
pygtrie = "*"

[dev-packages]
ruff = "*"
setuptools = "*"
twine = "*"

[scripts]
publish = "python setup.py sdist bdist_wheel && twine upload dist/*"

[requires]
python_version = "3.12"
